@page
@model Vũ_Nguyễn_Huy_Chương_SE150542_Ass02.Pages.CarRentals.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarRentals[0].RentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarRentals[0].Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarRentals[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CarRentals) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.CarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
