@page
@model Vũ_Nguyễn_Huy_Chương_SE150542_Ass02.Pages.CustomerInfo.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Mobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerPassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.IdentityCard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.IdentityCard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LicenceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.LicenceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LicenceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.LicenceDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer.CustomerId">Edit</a> |
    <a asp-page="./Create">Create Car Rental</a>
    <a asp-page="./ViewRentHistory" asp-route-id="@Model.Customer.CustomerId">View Rent History</a>
    <a asp-page="../Logout">Log out</></a>
</div>
