@page
@model Vũ_Nguyễn_Huy_Chương_SE150542_Ass02.Pages.CustomerInfo.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].IdentityCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].LicenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].LicenceDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CustomerId">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
