@using BusinessObject;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vũ_Nguyễn_Huy_Chương_SE150542_Ass02</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Vũ_Nguyễn_Huy_Chương_SE150542_Ass02</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                   <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="../Login">Log out</a>
                        </li>
                        @{
                            if (Accessor.HttpContext.Session.GetString("Role") == "Customer")
                            {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-page="../CustomerInfo/Details" asp-route-id="@Accessor.HttpContext.Session.GetString("CustomerId")">Your Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-page="../CustomerInfo/Create">Create Car Renting</a>
                                        </li>
                                        <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-page="../Login">Log out</a>
                                        </li>
                            }
                        }
                        @{
                            if(Accessor.HttpContext.Session.GetString("Role") == "Staff")
                            {
                                        <li class="nav-item">
                                             <a class="nav-link text-dark" asp-page="../StaffAcc/Details" asp-route-id="@Accessor.HttpContext.Session.GetString("StaffId")">Your Profile</a>
                                        </li>
                                        <li class="nav-item">
                                             <a class="nav-link text-dark" asp-page="../Cars/Index">Car Information</a>
                                        </li>
                                        <li class="nav-item">
                                             <a class="nav-link text-dark" asp-page="../Login">Log out</a>
                                        </li>
                            }
                        }
                        @if (Accessor.HttpContext.Session.GetString("username") == null && @Accessor.HttpContext.Session.GetInt32("id") != null)
                        {
                            var t = @Accessor.HttpContext.Session.GetInt32("id");
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Accounts/Edit" asp-route-id="@Accessor.HttpContext.Session.GetInt32("id")">Welcome user with id </a>
                                <a class="nav-link text-dark" style="right" asp-page="/Login" asp-page-handler="Logout">Logout</a>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Vũ_Nguyễn_Huy_Chương_SE150542_Ass02 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
